
/* LoginForm.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f87c2;
    min-height: 100vh;
    min-width: 100vw;
    padding: 20px;
  }
  
  .login-form {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20rem;
    
  }
  
  .login-form h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  
  .login-form .form-control {
    height: 52px;
    font-size: 16px;
    
  }
  
  .login-form .form-check-label {
    margin-left: 5px;
    font-size: 14px;
  }
  
  .login-form .btn {
    margin-top: 10px;
    height: 50px;
    font-size: 16px;
    background-color: #2fa4e7;
    border: none;
  }
  
  .login-form .btn:hover {
    background-color: #238ac0;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 10px;
    
  }
  
  /* Responsive adjustments */
  @media (max-width: 576px) {
    .login-form {
      padding: 20px;
    }
  
    .login-form h2 {
      font-size: 24px;
    }
  }
  
/* LoginForm.css */ 